In [1]:
import numpy as np
import pandas as pd
import cv2
import pytesseract
from glob import glob
import spacy
from spacy import displacy
import re
import string

In [2]:
def cleanText(text):
    whiteSpace = string.whitespace
    punctuation = '!#$%&\'()*+:;<=>?[\\]^`{|}~'
    tableWhiteSpace = str.maketrans('','', whiteSpace)
    tablePunctuation = str.maketrans('','', punctuation)
    text = str(text)
    text = text.lower()
    removeWhiteSpace = text.translate(tableWhiteSpace)
    removePunctuation = removeWhiteSpace.translate(tablePunctuation)

    return str(removePunctuation)

In [3]:
model_ner = spacy.load("./output/model-best")

In [4]:
image = cv2.imread("./data/6.jpeg")

tessdata = pytesseract.image_to_data(image)
dataList = list(map(lambda x: x.split("\t"), tessdata.split("\n")))
dataFrame = pd.DataFrame(dataList[1:], columns = dataList[0])
dataFrame.dropna(inplace=True)
dataFrame["text"] = dataFrame["text"].apply(cleanText)
dataClean = dataFrame.query("text != ''")
content = " ".join([w for w in dataClean["text"]])
doc = model_ner(content)

In [5]:
displacy.render(doc, style="ent")

In [6]:
doc_json = doc.to_json()
doc_text = doc_json["text"]
dataFrame_token = pd.DataFrame(doc_json["tokens"])
dataFrame_token["token"] = dataFrame_token[["start", "end"]].apply(lambda x:doc_text[x[0]:x[1]], axis = 1)
dataFrame_token.head(10)
right_table = pd.DataFrame(doc_json["ents"])[["start", "label"]]
dataFrame_token = pd.merge(dataFrame_token, right_table, how = "left", on = "start")
dataFrame_token.fillna("O", inplace = True)
dataFrame_token.head(10)

   id  start  end                  token    label
0   0      0    4                   cell        O
1   1      5   15             8099948528  B-PHONE
2   2     16   18                     ce        O
3   3     19   29             8466045457  B-PHONE
4   4     30   35                  email        O
5   5     36   57  lictsrikant@gmail.com  B-EMAIL
6   6     58   62                   life    B-ORG
7   7     63   72              insurance    I-ORG
8   8     73   84            corporation    I-ORG
9   9     85   87                     of    I-ORG

In [7]:
#join label of dataFrame_token to dataClean
dataClean["end"] = dataClean['text'].apply(lambda x: len(x)+1).cumsum() - 1
dataClean["start"]=dataClean[['text','end']].apply(lambda x: x[1]-len(x[0]),axis=1)

C:\Users\rajmo\AppData\Local\Temp/ipykernel_50004/2207421841.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean["end"] = dataClean['text'].apply(lambda x: len(x)+1).cumsum() - 1
C:\Users\rajmo\AppData\Local\Temp/ipykernel_50004/2207421841.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  dataClean["start"]=dataClean[['text','end']].apply(lambda x: x[1]-len(x[0]),axis=1)

In [8]:
dataClean.head(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start
12,5,1,3,1,1,1,722,53,64,28,91,cell,4,0
14,5,1,3,1,1,3,822,53,203,28,96,8099948528,15,5
17,5,1,3,2,1,1,55,55,85,89,31,ce,18,16
18,5,1,3,2,1,2,822,71,203,65,96,8466045457,29,19
20,5,1,3,2,2,1,593,136,93,25,92,email,35,30
22,5,1,3,2,2,3,709,136,316,31,88,lictsrikant@gmail.com,57,36
25,5,1,3,3,1,1,46,170,33,14,96,life,62,58
26,5,1,3,3,1,2,85,151,91,42,94,insurance,72,63
27,5,1,3,3,1,3,183,170,117,14,95,corporation,84,73
28,5,1,3,3,1,4,306,170,20,14,95,of,87,85

In [9]:
dataFrame_info = pd.merge(dataClean, dataFrame_token[["start", "token", "label"]], how = "inner", on = "start")

In [10]:
dataFrame_info.tail(10)

,level,page_num,block_num,par_num,line_num,word_num,left,top,width,height,conf,text,end,start,token,label
41,5,1,6,3,1,6,495,474,53,22,95,018.,307,303,018,O
42,5,1,6,3,2,1,46,506,430,27,81,"lictsrikant8099948528.blogspot.in,",342,308,lictsrikant8099948528.blogspot.in,O
43,5,1,6,3,2,2,488,506,429,27,90,interviewsinhyderabad.blogspot.in,376,343,interviewsinhyderabad.blogspot.in,B-WEB
44,5,1,6,3,3,1,44,539,472,25,87,"facebook.com/lictsrikant8099948528,",412,377,facebook.com/lictsrikant8099948528,O
45,5,1,6,3,3,2,526,539,443,21,90,facebook.com/thathineni.srikanth.9,447,413,facebook.com/thathineni.srikanth.9,O
46,5,1,6,3,4,1,46,571,106,21,96,promote,455,448,promote,O
47,5,1,6,3,4,2,161,576,56,22,96,your,460,456,your,O
48,5,1,6,3,4,3,226,571,111,21,96,business,469,461,business,O
49,5,1,6,3,4,4,347,571,74,21,93,online,476,470,online,O
50,5,1,6,3,4,5,432,571,97,27,91,pybo,481,477,pybo,O

In [ ]:
boundingBoxFrame = dataFrame_info.query("label != 'O'")

img = image.copy()

for x, y, w, h, label in boundingBoxFrame[["left", "top", "width", "height", "label"]].values:
    x = int(x)
    y = int(y)
    w = int(w)
    h = int(h)

    cv2.rectangle(img, (x,y), (x+w, y+h), (0,255,0), 3)
    cv2.putText(img, str(label), (x,y), cv2.FONT_HERSHEY_PLAIN, 1, (0,0,255), 2)

cv2.imshow("Predictions", img)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [ ]:
boundingBoxFrame["label"] = boundingBoxFrame["label"].apply(lambda x: x[2:])
boundingBoxFrame

In [ ]:

class groupgen():
    def __init__(self):
        self.id = 0
        self.text = 0

    def getgroup(self, text):
        if self.text == text:
            return self.id
        else:
            self.id += 1
            self.text = text
            return self.id
        
grp_gen = groupgen()

In [ ]:
boundingBoxFrame["group"] = boundingBoxFrame["label"].apply(grp_gen.getgroup)

In [ ]:
boundingBoxFrame

In [ ]:
boundingBoxFrame[["left", "top", "width", "height"]] = boundingBoxFrame[["left", "top", "width", "height"]].astype(int)
boundingBoxFrame["right"] = boundingBoxFrame["left"] + boundingBoxFrame["width"]
boundingBoxFrame["bottom"] = boundingBoxFrame["top"] + boundingBoxFrame["height"]
boundingBoxFrame

In [ ]:
col_group = ["left", "top", "right", "bottom", "label", "token", "group"]
group_tag_img = boundingBoxFrame[col_group].groupby(by = "group")
group_tag_img
img_tagging = group_tag_img.agg({
    "left" : min,
    "right": max,
    "top" : min,
    "bottom": max,
    "label": np.unique,
    "token":lambda x: " ".join(x)
})

In [ ]:
img_tagging

In [ ]:
img_bounded = image.copy()
for l,r,t,b,label,token in img_tagging.values:
    cv2.rectangle(img_bounded, (l,t), (r,b), (255, 0, 0), 3)
    cv2.putText(img_bounded, label,(l,t), cv2.FONT_HERSHEY_PLAIN, 1, (0,0,255))

cv2.imshow("Group Bounding", img_bounded)
cv2.waitKey(0)
cv2.destroyAllWindows()

In [ ]:
def parser(text, label):
    if label == "PHONE":
        text = text.lower()
        text = re.sub(r"\D","", text)

    elif label == "EMAIL":
        text = text.lower()
        allow_special_chars = "@_.\-"
        text = re.sub(r"[^A-Za-z0-9{}]".format(allow_special_chars), "", text)
    
    elif label == "WEB":
        text = text.lower()
        allow_special_chars = "_.\-:/%#"
        text = re.sub(r"[^A-Za-z0-9{}]".format(allow_special_chars), "", text)
    
    elif label in ("NAME", "DES"):
        text = text.lower()
        text = re.sub(r"[^a-z ]", "", text)
        text = text.title()

    elif label == "ORG":
        text = text.lower()
        text = re.sub(r"[^a-z0-9 ]", "", text)
        text = text.title()
        
    return text

In [ ]:
parser("Raj .motta@outlook.com", "EMAIL")

In [ ]:
info_array = dataFrame_info[["token", "label"]].values
entities = dict(NAME=[], ORG=[], DES=[], PHONE=[], EMAIL=[], WEB = [])
previous = "O"

for token, label in info_array:
    bio_tag = label[0]
    label_tag = label[2:]

    text = parser(token, label_tag)

    if bio_tag in ("B", "I"):
        if previous != label_tag:
            entities[label_tag].append(text)
        else:
            if bio_tag == "B":
                entities[label_tag].append(text)
            else:
                if label_tag in ("NAME", "ORG", "DES"):
                    entities[label_tag][-1] = entities[label_tag][-1] + " " + text
                else:
                    entities[label_tag][-1] = entities[label_tag][-1] + text
    
    previous = label_tag

In [ ]:
entities